:root {
    --bg-color1: linear-gradient(
      135deg,
      rgb(22, 44, 68) 0%,
      rgb(21, 43, 74) 100%
    );
    --bg-sidebar1: rgb(23, 49, 77);
    --transition-speed: 0.3s;
  }

  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f9;
  }

  .mg {
    margin: 20px 0;
  }

  /* ===== start Sidebar ===== */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    background-color: var(--bg-sidebar1);
    color: white;
    padding: 30px 20px;
    overflow-y: auto;
    z-index: 1001;
  }

  .sidebar h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .sidebar h1 .menu-icon {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  .menu-icon:hover {
    transform: scale(1.05);
  }

  .sidebar .logo {
    text-align: center;
    margin: 20px 0;
  }

  .sidebar .logo img {
    max-width: 100%;
    height: auto;
    max-height: 250px;
    display: inline-block;
  }

  .sidebar .logo img:hover {
    transform: scale(1.05);
  }

  /* ======= start sidebar link ========== */
  .sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-decoration: none;
    font-size: 16px;
    color: #ffffffcc;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(14, 14, 15, 0.5);
  }

  .sidebar nav a i {
    margin-right: 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
  }

  .sidebar nav a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #00d9ff;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    transform-origin: top;
    border-radius: 0 5px 5px 0;
  }

  .sidebar nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .sidebar nav a:hover i {
    transform: scale(1.2);
    color: #00d9ff;
  }

  .sidebar nav a:hover::before {
    transform: scaleY(1);
  }

  .sidebar nav a.active {
    background: rgba(36, 34, 34, 0.1);
    color: #fff;
    font-weight: bold;
    animation: glow 2s infinite;
    position: relative;
  }

  .sidebar nav a.active::before {
    transform: scaleY(1);
    animation: slideIn 0.3s ease forwards;
  }

  .sidebar nav a.active i {
    color: #00d9ff;
    animation: iconPulse 1.5s infinite;
  }

  /* Active menu animation */
  @keyframes glow {
    0% {
      box-shadow: 0 0 0px #00d9ff;
    }

    50% {
      box-shadow: 0 0 12px #00d9ff;
    }

    100% {
      box-shadow: 0 0 0px #00d9ff;
    }
  }

  @keyframes iconPulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  /* Left border slide animation */
  @keyframes slideIn {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  /* ========= end sidebar link ========== */

  /* ======== start Content =========== */
  .content {
    min-height: 100vh;
    width: 100%;
    padding: 40px;
    transition: margin-left var(--transition-speed);
    background: var(--bg-color1);
  }

  .content h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
  }

  .content p {
    font-size: 1rem;
    line-height: 1.7;
    color: white;
  }

  /* ========= end content =============== */

  /* ======== start Mobile Header ========= */
  .mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--bg-color1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    z-index: 1002;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .hamburger {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
  }

  .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.4s ease;
  }

  /* Open state */
  .hamburger.active .top {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #ff4f4f;
  }

  .hamburger.active .middle {
    opacity: 0;
    transform: translateX(-20px);
  }

  .hamburger.active .bottom {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: #ff4f4f;
  }

  .mobile-header .site-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
  }

  .mobile-header .site-name .site-logo {
    width: 100px;
    height: auto;
    object-fit: contain;
  }

  /* ========= end mobile header ============ */

  /* ======== start overlay ============ */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }

  /* ====== end overlay ========== */

  /* ========== start liquid button ============ */
  .btn-liquid {
    width: 30%;
    margin: 6px 0 25px 0;
    padding: 12px 24px;
    border: 2px solid rgba(0, 213, 255, 0.64);
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 212, 255, 0.5);
    text-decoration: none;
  }

  .btn-liquid i {
    padding-right: 10px;
  }

  .btn-liquid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(4, 203, 243, 0.38);
    z-index: -1;
    transition: height 0.3s ease;
  }

  .btn-liquid:hover {
    color: white;
  }

  .btn-liquid:hover::before {
    height: 100%;
  }

  /* ========== end liquid button ============= */

  /* ========= start border animate button ========== */
  .btn-border-animate {
    width: 100%;
    margin-top: 10px;
    padding: 12px 24px;
    background: transparent;
    color: #00d4ff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .btn-border-animate::before,
  .btn-border-animate::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00d4ff;
    transition: all 0.3s ease;
  }

  .btn-border-animate::before {
    top: 0;
    left: 0;
  }

  .btn-border-animate::after {
    bottom: 0;
    right: 0;
  }

  .btn-border-animate:hover {
    color: white;
    background: rgba(0, 212, 255, 0.1);
  }

  .btn-border-animate:hover::before,
  .btn-border-animate:hover::after {
    width: 100%;
  }

  /* ======== end border animate button ======== */

  /* ============= start input type Styles ============== */
  .form-group {
    position: relative;
    margin-bottom: 0;
  }

  .form-group password {
    width: 100%;
    padding: 12px 50px;
    border: 2px solid rgba(0, 213, 255, 0.64);
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
  }

    
    .form-group .toggle-password {
      position: absolute;
      right: 10px;
      top: 65%;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;
      font-size: 1.2em;
    }

  .form-group input{
    width: 100%;
    padding: 12px 50px;
    border: 2px solid rgba(0, 213, 255, 0.64);
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
  }

  .form-group textarea {
    width: 100%;
    padding: 12px 50px;
    border: 2px solid rgba(0, 213, 255, 0.64);
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
  }

  .form-group input:focus {
    border-color: rgba(0, 213, 255, 0.64);
    box-shadow: 0 0 0 2px rgba(0, 213, 255, 0.64);
    outline: none;
    background-color: transparent;
  }

  .form-group i {
    position: absolute;
    left: 15px;
    top: 60px;
    color: white;
    font-size: 18px;
    z-index: 2;
  }

  .form-group label {
    display: flex;
    margin-bottom: 7px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding-left: 5px;
    position: relative;
  }

  .form-group label span {
    color: rgba(0, 213, 255, 0.64);
    font-size: 16px;
    margin-left: 5px;
  }



  /* ============= end input type Styles ============== */

  /* ========== start form dropdown style =============== */
  .modern-form-group {
    margin-bottom: 20px;
  }

  .modern-form-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding-left: 6px;
  }

  .modern-form-group label i {
    color: white;
    font-size: 16px;
  }

  .modern-form-group select {
    width: 100%;
    padding: 14px 15px 14px 14px;
    border: 2px solid rgba(0, 213, 255, 0.64);
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.3s;
    background-color: transparent;
    color: rgb(242, 214, 74);
  }

  .modern-form-group select:focus {
    border-color: rgba(0, 213, 255, 0.64);
    box-shadow: 0 0 0 2px rgba(0, 213, 255, 0.64);
    outline: none;
    background-color: transparent;
  }

  /* ========= end form dropdown style ========== */

  /* ========== start content box ============== */
  .page-title {
    font-family: var(--primary-font);
    text-align: center;
    margin-bottom: 10px;
    color: white;
  }

  .sub-title {
    font-family: var(--primary-font);
    font-size: 24px;
    margin: 15px 0;
    color: white;
  }

  .card-box {
    background: rgba(23, 49, 77, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(23, 49, 77, 0.5);
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    padding: 25px;
    color: #ffffff;
    font-size: 16px;
    line-height: 2.4;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 30px 0;
    /* max-width: 1200px; */
  }

  .card-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
  }

  .card-box ul {
    margin-left: 10px;
    list-style-type: none;
    padding-left: 0;
  }

  .card-box li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    position: relative;
    padding-left: 30px;
    text-align: justify;
  }

  .card-box li::before {
    content: "➤";
    position: absolute;
    left: 0;
    top: 0;
    color: #00e0ff;
    font-size: 20px;
  }

  /* ========= end content box */

  /* ============= start table container ======== */
  .table-container {
    overflow-x: auto;
    border: 1px solid rgba(23, 49, 77, 0.5);
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .table-container:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
  }

  th,
  td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background: rgba(8, 27, 42, 0.8);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:hover {
    background-color: rgba(8, 27, 42, 0.65);
    transition: background 0.2s ease;
  }

  td:nth-child(1) {
    font-weight: bold;
    text-align: center;
  }

  td:nth-child(2) {
    font-size: 18px;
  }

  /* ============================= */

  /* ========= start tab container ========== */
  .tabs {
    max-width: 100%;
    margin: 20px auto;
    font-family: "Segoe UI", sans-serif;
  }

  .tab-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 2px solid #00c4ff;
    margin-bottom: 10px;
  }

  .tab-btn {
    padding: 12px 20px;
    background-color: var(--bg-color1);
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
    margin-right: 8px;
    position: relative;
  }

  .tab-btn:hover {
    background-color: rgb(3, 30, 44);
    color: #00aaff;
  }

  .tab-btn.active {
    border-bottom: 4px solid #00c4ff;
    color: #00aaff;
  }

  .tab-content {
    display: none;
    background-color: transparent;
    padding: 20px 10px;
    border-radius: 6px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    color: white;
    animation: fadeIn 0.3s ease-in-out;
  }

  .tab-content.active {
    display: block;
  }

  /* Optional: smooth fade effect */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* ========= end tab container ========== */

  /* ======== start copy tooltip ========== */
  .copy-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    margin-bottom: 5px;
  }

  .copy-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }

  /* ========= end copy tooltip ======== */

  /* ======== footer ====== */
  .footer {
    /* position: fixed; */
    bottom: 0;
    left: 350px;
    right: 0;
    height: 50px;
    background-color: var(--bg-sidebar1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1001;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
  }

  /* ========= end footer ========== */

  /* ======== start Mobile View ===== */
  @media (max-width: 768px) {
    body {
      padding-left: 0;
    }

    .mobile-header {
      display: flex;
    }

    .sidebar {
      transform: translateX(-100%);
      pointer-events: none;
      padding-top: 100px;
      width: 300px;
    }

    .sidebar.active {
      transform: translateX(0);
      pointer-events: auto;
    }

    .overlay.active {
      display: block;
    }

    .content {
      margin-top: 60px;
      padding: 20px;
    }

    .card-box {
      padding: 15px;
      font-size: 18px;
      line-height: 1.8;
    }

    th,
    td {
      font-size: 14px;
      padding: 10px;
    }

    .form-group input {
      font-size: 20px;
    }

    .form-group i {
      top: 52px;
    }

    .form-group label {
      padding-left: 0px;
    }

    

    .btn-liquid {
      width: 100%;
    }

    
    .footer {
      left: 0;
      padding: 0 10px;
      font-size: 13px;
    }
  }

  @media (min-width: 769px) {
    .mobile-header {
      display: none !important;
    }

    .sidebar {
      transform: none !important;
      pointer-events: auto;
    }

    .overlay {
      display: none !important;
    }

    .content {
      margin-left: 350px;
      width: calc(100% - 350px);
      min-height: 100vh;
      padding: 40px;
      background: var(--bg-color1);
    }

    


    /* .footer {
        left: 350px;
    } */
  }

  /* ========= end mobile ============== */