{% extends "index.html" %} {% block title %}မူလစာမျက်နှာ{% endblock %} {% block
body %}

<h2 class="page-title">NAME CHECKER APP</h2>
<div class="card-box">
  <div class="tabs">
    <div class="tab-buttons">
      <button class="tab-btn active" data-tab="tab1">မြန်မာ - အင်္ဂလိပ်</button>
      <button class="tab-btn" data-tab="tab2">ပါဠိ - ရိုမန်</button>
    </div>
    <div class="tab-content active" id="tab1">
      <div class="form-group">
        <label for="inputField">မြန်မာအမည် ရိုက်ထည့်ပါ။</label>
        <i class="fas fa-file-word"></i>
        <textarea id="mmname" placeholder="မြန်မာအမည် ရိုက်ထည့်ပါ။" rows="4"></textarea>
         <span class="fas fa-copy toggle-password" id="toggleTextareaIcon" onclick="copy('mmname','ms1')" title="Copy text"></span>
      </div>
      <span
        id="ms1"
        style="color: limegreen; margin-left: 10px; display: none"
        >✔ Copied!</span>
      <!-- <button class="btn-liquid" style="width: 40%;" id="btnmyen">Convert</button> -->
      <button class="btn-liquid"  id="btncleanmy">Clean</button>
      <div class="form-group">
        <label for="inputField">မြန်မာ - အင်္ဂလိပ်</label>
        <i class="fas fa-file-word"></i>
        <textarea name="mmconvert" placeholder="Converted Name" rows="4" readonly id="mmconvert"></textarea>
        <span class="fas fa-copy toggle-password" id="toggleTextareaIcon" onclick="copy('mmconvert','ms2')" title="Copy text"></span>
      </div>
      <span
        id="ms2"
        style="color: limegreen; margin-left: 10px; display: none"
        >✔ Copied!</span>

    </div>
    <div class="tab-content" id="tab2">
      <div class="form-group">
        <label for="inputField">ပါဠိအမည် ရိုက်ထည့်ပါ။</label>
        <i class="fas fa-file-word"></i>
        <textarea id="parliname" placeholder="ပါဠိအမည် ရိုက်ထည့်ပါ။" rows="4"></textarea>
        <span class="fas fa-copy toggle-password" id="toggleTextareaIcon" onclick="copy('parliname','ps1')" title="Copy text"></span>
      </div>
      <span
        id="ps1"
        style="color: limegreen; margin-left: 10px; display: none"
        >✔ Copied!</span
      >
      <!-- <button class="btn-liquid" style="width: 40%;" id="btnparlit">Convert</button> -->
      <button class="btn-liquid"  id="btncleanparli">Clean</button>
      <div class="form-group">
        <label for="inputField">ပါဠိ - ရိုမန်</label>
        <i class="fas fa-file-word"></i>
        <textarea rows="4" name="parliconvert" placeholder="Converted Name" id="parliconvert"></textarea>
        <span class="fas fa-copy toggle-password" id="toggleTextareaIcon" onclick="copy('parliconvert','ps2')" title="Copy text"></span>
      </div>     
      <span
        id="ps2"
        style="color: limegreen; margin-left: 10px; display: none"
        >✔ Copied!</span
      >
      
    </div>
  </div>
</div>
<br />
<div class="card-box">{% include 'comment.html' %}<br></div>
<!-- <script src="{{ url_for('static', filename='css/jquery.min.js') }}"></script> -->
<script>
 

  $(document).ready(function () {

    // $("#mmname").on("input", function (e) {
    //    let value = $(this).val();
    //    let filteredValue = value.replace(/[^ဣဤဥဦဧဩဪဿက-၉ဂ-စဆ-ညဋ-ဍဎ-ဏတ-တဘ-မယ-ယရ-လဝ-ဟအ-အ်ါ-ဲံ-့း]/g, "");
    //    $(this).val(filteredValue);
    // });

    function my_en() {
      var name = $("#mmname").val();

      $.ajax({
        type: "POST",
        url: "/convert_my",
        data: JSON.stringify({
          name: name,
        }),
        contentType: "application/json",
        success: function (response) {
          $("#mmconvert").val(response.message);
        },
      });
    }

    function parli_en() {
      var name = $("#parliname").val();

      $.ajax({
        type: "POST",
        url: "/convert_parlit",
        data: JSON.stringify({
          name: name,
        }),
        contentType: "application/json",
        success: function (response) {
          $("#parliconvert").val(response.message);
        },
      });
    }
    $("#mmname").on("keyup", function (e) {
      // if(e.key=="Enter" || e.keyCode===13){
      //   e.preventDefault();
      my_en(); // Enter key ကိုနှိပ်သောအခါ convert လုပ်ရန်
      // }
    });

    $("#btnmyen").click(function () {
      my_en(); // Button ကိုနှိပ်သောအခါ convert လုပ်ရန်
    });

    $("#parliname").on("keyup", function (e) {
      // if (e.key === "Enter" || e.keyCode === 13) {
       // e.preventDefault(); // Form submit ကိုရှောင်ရန်
        parli_en(); // Enter key ကိုနှိပ်သောအခါ convert လုပ်ရန်
      //}
    });

    $("#btnparlit").click(function () {
      parli_en();
    });

    $("#btncleanmy").click(function () {
      $("#mmname").val("");
      $("#mmconvert").val("");
    });

    $("#btncleanparli").click(function () {
      $("#parliname").val("");
      $("#parliconvert").val("");
    });
  });
</script>

{% endblock %}
