<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAIIP - Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='comment/register.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.min.css') }}"
    />

    <script src="{{ url_for('static', filename='css/style.js') }}"></script>
  </head>
  <body>
    <div class="container" style="padding-bottom: 50px;">
      <h2>Register</h2>

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <form method="POST">
        <div class="form-group">
          <label for="inputField">Username</label>
          <i class="fas fa-user"></i>
          <input type="text" name="username" placeholder="test@gmail.com" required />
        </div>
        <div class="form-group">
          <label for="inputField">Password</label>
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            required
          />
          <span class="fas fa-eye toggle-password" id="togglePasswordIcon" onclick="togglePassword('password','togglePasswordIcon')" title="Show password"></span>
        </div>
        <div class="form-group">
          <label for="inputField">Confirm Password</label>
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="confirm_pw"
            placeholder="Confirm Password"
            id="confirm_pw"
            required
          />
          <span class="fas fa-eye toggle-password" id="togglePasswordIcon" onclick="togglePassword('confirm_pw','togglePasswordIcon')" title="Show password"></span>
        </div>

        <button type="submit" class="btn-liquid">Create Account</button>
      </form>

      <p style="color: white">
        Already have an account? <a href="{{ url_for('login') }}">Login</a>
      </p>
      <p style="color: white">
        <a class="btn-liquid" style="text-decoration: none;" href="{{ url_for('dashboard') }}">GO TO HOME</a>
        <a class="btn-liquid" style="text-decoration: none;" href="{{ url_for('login') }}">Login</a>
      </p>
    </div>
  </body>
</html>
